<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VOKATSOA {% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ asset('images/logo.jpg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="app" data-controller="admin">
    {% block body %}{% endblock %}
    {% block footer %}
        {% include 'admin/menu/footer.html.twig' %}
    {% endblock %}
</div>
</body>
</html>
