<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOKATSO</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
<div id="app">
    {% include 'middle/menu/sidebar.html.twig' %}
    <div id="main">
        {% include 'middle/menu/header.html.twig' %}
        <div class="page-heading" style="min-height: 85vh">
            {% block body %}{% endblock %}
        </div>
        {% include 'middle/menu/footer.html.twig' %}
    </div>
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>
