{% extends 'front/layout.html.twig' %}
{% import 'macro/macro_product_small.html.twig' as macro_product %}
{% set menu_order = true %}

{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Produits</th>
                            <th class="product-price">Prix TTC</th>
                            <th class="product-quantity">Qty</th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ macro_product.order_list_render(orderItems) }}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(orderItems) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="{{ path('order_home') }}" class="btn btn-outline-primary btn-sm btn-block">Continuer à acheter</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Votre panier</h3>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total TTC</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    {% set total = 0 %}
                                    {% for orderItem in orderItems %}
                                        {% set total = total + orderItem.getTotalInt() %}
                                    {% endfor %}
                                    <strong class="text-black">Ar {{ total|number_format(2, ',', ' ') }}</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg py-3 btn-block"
                                            onclick="window.location='checkout.html'">Terminer l'achat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
