{% extends 'front/layout.html.twig' %}

{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-success"></span>
                    <h2 class="display-3 text-black">Merci !!!</h2>
                    <p> Pour suivi et historique de votre commande.</p>
                    <a href="{{ path('order_tracking', {'id' : order.id}) }}" class="btn btn-sm btn-primary">
                        Cliquez ici</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
