{% extends 'front/layout.html.twig' %}
{% import 'macro/macro_product_small.html.twig' as macro_product %}
{% set menu_order = true %}
{% block body %}
    <div class="site-section">
        <div class="container">
            {{ macro_product.render_product_details(product) }}
        </div>
    </div>
{% endblock %}
