{% extends 'front/layout.html.twig' %}
{% import 'macro/macro_product_small.html.twig' as macro_product %}
{% set menu_newness = true %}

{% block body %}
    <div class="site-section block-3 site-blocks-2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Produits nouveauté</h2>
                </div>
            </div>
            <div class="row mb-5">
                {{ macro_product.render_order_product(featured) }}
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-12 text-center">
                    {{ knp_pagination_render(featured) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
